@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 0;
}
nav{
    margin-top: 10px;
}
img{
    display: block;
    max-width: 100%;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
}
ul{}
li{
    display: inline-block;
    margin: 0 10px;
}
.slider{
    background-color: aquamarine;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.img-fit{
    object-fit: cover;
}
.slider h2{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50px;
}
.title{
    text-transform: uppercase;
    padding: 160px 0 20px;
    font-family: 'Poppins', sans-serif;
}
.title h3{
    font-weight: 600;
    font-size: 48px;
}
.product{
    display: block;
    padding: 10px;
    background-color: blanchedalmond;
}

@media screen and (max-width: 768px){
    .product{
        background-color: rgb(205, 255, 212);
    }
}

@media screen and (max-width: 600px){
    .product{
        width: 100%;
    }
}